In [5]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error, mean_absolute_error,r2_score

In [6]:
df = pd.read_csv(r'C:\Users\greym\Desktop\dataset for 446\energydata.csv')
df.head()

,REF_DATE,GEO,DGUID,Type of dwelling,Energy type,Energy consumption,UOM,UOM_ID,SCALAR_FACTOR,SCALAR_ID,VECTOR,COORDINATE,VALUE,STATUS,SYMBOL,TERMINATED,DECIMALS
0,2011,Canada,2016A000011124,Single-detached,"Total, all energy types",Gigajoules,Gigajoules,143,units,0,v101904406,1.1.1.1,944421514.0,NaN,NaN,NaN,0
1,2011,Canada,2016A000011124,Single-detached,"Total, all energy types",Gigajoules per household,Gigajoules,143,units,0,v101904407,1.1.1.2,115.3,NaN,NaN,NaN,1
2,2011,Canada,2016A000011124,Single-detached,"Total, all energy types",Number of households,Number,223,units,0,v101904408,1.1.1.4,8191007.0,NaN,NaN,NaN,0
3,2011,Canada,2016A000011124,Single-detached,Electricity,Gigajoules,Gigajoules,143,units,0,v101904409,1.1.2.1,396962347.0,NaN,NaN,NaN,0
4,2011,Canada,2016A000011124,Single-detached,Electricity,Gigajoules per household,Gigajoules,143,units,0,v101904410,1.1.2.2,48.5,NaN,NaN,NaN,1

In [7]:
# drop uncessary data
df.drop(['DGUID','UOM_ID','Type of dwelling','SCALAR_ID','SCALAR_FACTOR','VECTOR','COORDINATE','STATUS','SYMBOL', 'DECIMALS','TERMINATED'],inplace=True, axis=1)
df.head()

,REF_DATE,GEO,Energy type,Energy consumption,UOM,VALUE
0,2011,Canada,"Total, all energy types",Gigajoules,Gigajoules,944421514.0
1,2011,Canada,"Total, all energy types",Gigajoules per household,Gigajoules,115.3
2,2011,Canada,"Total, all energy types",Number of households,Number,8191007.0
3,2011,Canada,Electricity,Gigajoules,Gigajoules,396962347.0
4,2011,Canada,Electricity,Gigajoules per household,Gigajoules,48.5

In [8]:
#drop null data
newdf = df.dropna()
newdf.head()

,REF_DATE,GEO,Energy type,Energy consumption,UOM,VALUE
0,2011,Canada,"Total, all energy types",Gigajoules,Gigajoules,944421514.0
1,2011,Canada,"Total, all energy types",Gigajoules per household,Gigajoules,115.3
2,2011,Canada,"Total, all energy types",Number of households,Number,8191007.0
3,2011,Canada,Electricity,Gigajoules,Gigajoules,396962347.0
4,2011,Canada,Electricity,Gigajoules per household,Gigajoules,48.5

In [9]:
# drop all data that does not have the energy type of electricity and has a location of canada
newdf.drop(newdf[newdf['GEO'] == 'Canada'].index, inplace = True)
newdf.drop(newdf[newdf['Energy type'] != 'Electricity'].index, inplace = True)
newdf.head()

C:\Users\greym\anaconda3\lib\site-packages\pandas\core\frame.py:4906: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

,REF_DATE,GEO,Energy type,Energy consumption,UOM,VALUE
108,2011,Newfoundland and Labrador,Electricity,Gigajoules,Gigajoules,11934482.0
109,2011,Newfoundland and Labrador,Electricity,Gigajoules per household,Gigajoules,72.7
110,2011,Newfoundland and Labrador,Electricity,Proportion of total energy,Percent,77.6
111,2011,Newfoundland and Labrador,Electricity,Number of households,Number,164067.0
213,2011,Prince Edward Island,Electricity,Gigajoules,Gigajoules,1147772.0

In [10]:
# Select columns of electricity consumption that is gigajoules
energy=newdf.loc[newdf['Energy consumption'] == 'Gigajoules']
y = energy.iloc[:, [5]]
y.head()

          VALUE
108  11934482.0
213   1147772.0
318   9704911.0
363    685874.0
378   1429845.0

In [11]:
# Select column that is electricity consumed  per household
household=newdf.loc[newdf['Energy consumption'] == 'Gigajoules per household']
z = household.iloc[:, [5]]
z.head()

     VALUE
109   72.7
214   26.5
319   36.0
364   31.0
379   23.6

In [12]:
#drop the 12 extra rows 
x = z.drop([3349,3304,3109,2584,2299,1969,1129,1084,1039,814,2149,4039])
x

      VALUE
109    72.7
214    26.5
319    36.0
364    31.0
379    23.6
...     ...
4504   31.7
4519   38.8
4534   16.3
4549   15.8
4564   28.9

[123 rows x 1 columns]

In [19]:
#test train split
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.25, random_state=0) 
#Fitting the model in linear regression
model = LinearRegression()
model.fit(x_train, y_train)
#predicting the model
y_pred= model.predict(x_test)
y_pred

array([[-1050746.18711349],
       [16986638.47706795],
       [26676625.0604146 ],
       [14826822.19041839],
       [26268011.16834577],
       [11382790.81440964],
       [ 4903341.95446097],
       [38759921.58302159],
       [30587643.74164488],
       [ 4728221.71500289],
       [ 5837316.56490402],
       [ 8288999.91731703],
       [ 5078462.19391904],
       [42962807.33001532],
       [14301461.47204417],
       [ 2860272.49411679],
       [13367486.86160112],
       [ 1459310.57845221],
       [10156949.13820313],
       [33331194.15982135],
       [ 4494728.06239213],
       [32222099.30992023],
       [ 2685152.25465872],
       [11733031.29332578],
       [27610599.67085766],
       [ 9689961.83298161],
       [15060315.84302915],
       [ 8639240.39623317],
       [13542607.1010592 ],
       [ -350265.2292812 ],
       [17687119.43490023]])

In [20]:
mse = mean_squared_error(y_test, y_pred)  # calculate RMSE
mae = mean_absolute_error(y_test, y_pred)  # calculate MAE
r2=r2_score(y_test,y_pred)# calculate R2

print(f"MSE: {mse}")
print(f"MAE: {mae}")
print("R2:", r2)

MSE: 1450010208457677.8
MAE: 21393517.264659617
R2: 0.1606317776096473